
.toolbar-bottom{
    position: fixed;
    bottom: 10px;
    height: 50px;
    /*border-top: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;*/
    background-color: transparent;
    /*border-radius: 0px 0 0 0;*/
    text-align: right;
    padding: 0px;
    /*-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);*/
}
.toolbar-bottom.bottom-left{
	left: 10px;
}
.toolbar-bottom.bottom-right{
	right:10px;
}
.toolbar-bottom-adds{
    background-color: transparent !important;
}
.toolbar-bottom-adds .addBtnFoot{
    border-radius: 5px;
    width: 100%;
    color: white !important;
    border: none;
    text-align: left;
}
#show-bottom-add, #donation-btn{
	border-radius: 100%;
    width: 50px;
    border: none;
    height: 50px;
}

#donation-btn, #show-bottom-add{
    position: fixed;    
}

.footer-menu-horizontal #show-bottom-add{
    background-color: #34a853;
    bottom: 10px;
    right: 10px;
    color: white;
}
.footer-menu-horizontal #donation-btn{
    background-color: #E5344D;
    bottom: 10px;
    left: 10px;
    color: white;
}
.footer-menu-vertical #show-bottom-add{
    bottom: 60px;
    left: 1px;
    z-index: 20000;
    background-color: transparent;
    color: #34a853;
}
.footer-menu-vertical #donation-btn{
    background-color: transparent;
    left: 1px;
    bottom: 5px;
    z-index: 20000;
    color: #E5344D;
}
#donation-btn i{
	font-size: 20px;
}
#show-bottom-add.opened{
    transform: rotate(45deg);
}
#show-bottom-add i{
	font-size: 26px;
}
/*.toolbar-bottom .btn,
.toolbar-bottom-apps .btn{
    border:none;
    border-right: 1px solid #bcbcbc;
    background-color: white;
    border-radius: 0px;
    float: left;
    font-size: 12px;
    padding: 10px;
}*/

/*.toolbar-bottom-adds .btn, 
.toolbar-bottom-quickaccess .btn 
{
	border: none;
	background-color: transparent;
	border-radius: 0px;
	font-size: 13px;
	padding-left: 15px;
	width:100%;
	text-align: left;
	font-weight: bold;
}*/


.toolbar-bottom-apps .btn{
    padding: 15px;
}

.toolbar-bottom .btn:hover,
.toolbar-bottom-apps .btn:hover,
.toolbar-bottom-adds .btn:hover,
.toolbar-bottom-quickaccess .btn:hover
{    
    /*background-color: #ddd !important;*/
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}


.toolbar-bottom-apps{
    position: fixed;
    bottom: 37px;
	right: -1px;
	height: 49px;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    background-color: #FFF;
    border-radius: 0px 0 0 0;
    text-align: right;
    padding: 0px;
}

.toolbar-bottom-fullwidth{
       position: fixed;
    bottom: 60px;
    right: 10px;
    /* height: 440px; */
    /* border-top: 1px solid #bcbcbc; */
    /* border-bottom: 1px solid #bcbcbc; */
    /* border-left: 1px solid #bcbcbc; */
    /* background-color: #FFF; */
    border-radius: 0px 0 0 0;
    text-align: right;
    padding-top: 10px;
    width: 160px;
    z-index: 10000000;
    /* width: 425px; */
   /* position: fixed;
	bottom: 37px;
	right: 0px;
	height: 440px;
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	border-left: 1px solid #bcbcbc;
	background-color: #FFF;
	border-radius: 0px 0 0 0;
	text-align: left;
	padding-top: 10px;
	width: 425px;*/
}






@media screen and (max-width: 1024px) {
    /*.menu-name-profil small{
        max-width: 45px;
    }
*/

    
}

@media screen and (max-width: 992px) {
    .name .pastille{
        margin-top: -25px;
        max-width: 73%;
        font-size: 0.4em;
    }

    #modal-preview-coop{
        left:15%;
        right:0%;
    }
} 

@media (max-width: 767px) {

    .toolbar-bottom.bottom-right{
        right: 0px;
    }
    #show-bottom-add, #donation-btn{
        border-radius: 100%;
        width: 30px;
        border: none;
        height: 30px;
        border-radius: 10px 0 0 0;
    }
    #show-bottom-add.opened{
        transform: rotate(0deg);
    }
    #show-bottom-add.opened i{
        transform: rotate(45deg);
    }
    #donation-btn{
        display: none;
    }
    #show-bottom-add i{
        font-size: 19px;
        padding-top: 2px;
    }
    .toolbar-bottom {
        position: fixed;
        bottom: 0px;
        height: 30px;
    }

}